# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://myuser:password@localhost:3306/db"
PASSWORD_SECRET="c^?S58eyfTM{k[+3"
JWT_SECRET="u8k6~A;e>ZtfULHT"
JWT_REFRESH_SECRET="t)UdnjHJ:>p3K-6V"